{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    // "react-app",
    // "react-app/jest",
    "standard",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:lodash/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "import", "lodash", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-use-before-define": "off",
    "no-var": "error",
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "styled-components",
            "message": "Please import from styled-components/macro."
          }
        ],
        "patterns": ["!styled-components/macro"]
      }
    ],
    "@typescript-eslint/ban-ts-comment": [
      "warn",
      {
        "ts-ignore": "allow-with-description",
        "ts-nocheck": "allow-with-description"
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_" }
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-curly-brace-presence": ["error", "never"],
    "lodash/import-scope": [2, "member"],
    "lodash/prefer-lodash-method": "off",
    "lodash/prefer-lodash-typecheck": "off",
    "lodash/collection-ordering": "off",
    "lodash/prop-shorthand": "off",
    "lodash/prefer-constant": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": [
          ["builtin", "external", "internal"],
          ["parent", "sibling", "index"]
        ],
        "pathGroups": [
          {
            "pattern": "components/**",
            "group": "parent"
          },
          {
            "pattern": "hooks/**",
            "group": "parent"
          },
          {
            "pattern": "images/**",
            "group": "parent"
          },
          {
            "pattern": "services/**",
            "group": "parent"
          },
          {
            "pattern": "theme",
            "group": "parent"
          },
          {
            "pattern": "theme/**",
            "group": "parent"
          },
          {
            "pattern": "types/**",
            "group": "parent"
          },
          {
            "pattern": "utils/**",
            "group": "parent"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"]
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
